*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body{
    /* background-color: cyan; */
}


.container{
    /* background-color: green; */
    /* height: 100vh; */
    width: 100%;    
    border: 3px solid red;
    /* background-color: rgba(245, 237, 237, 0.543); */
}
.guid{
    border: 1px solid red;
}

nav, footer {
    background-color: green;
}

nav{
   width: 100%; 
   height: 100px;
   padding: 10px; /*top left bottom and right*/
   position: sticky;
   /* position: fixed; */
   top:0;

}

.logo{
    color: white;
    font-size: 60px;
    margin-top: 7px;
    font-weight: bold;
}


.navbar{
    color: white;
    float: right;
    margin-top: -50px;
    
}

ul{

}

li{
    display: inline;
    margin-left: 70px;
    font-size: 18px;
}


li a{
    color: white;
}


footer{
    padding: 50px;
}


.menu{

}

.dropDown{
    /* border: 1px solid red; */
    display: none;
}

.dropDown  li{
    display: block;
    width: 100px;
    background-color: yellow;
}